<%= render "layouts/navbar" %>
<span class="margin-container">
</span>

<span class="medbandanawhite">
 <h1 class="contacth" >Contáctanos</h1>
 <p class="contactp">Siempre estamos dispuestos a buscar la <span class="italic"> mejor solución</span> para ti, mándanos tus datos para contactarte lo antes posible.</p>
</span>

<span class="form" >
  <%= render "layouts/form" %>
</span>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14382.063128059337!2d-100.2826092!3d25.6873415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd753d83d7513135f!2sSoluciones+de+Altura+E+Ingenier%C3%ADa+S.A.+de+C.V.!5e0!3m2!1sen!2smx!4v1498322376513" width="600" height="450" frameborder="0" class="maps" allowfullscreen></iframe>


<%= render "layouts/footer" %>