<div id="container" style="position:relative">

<%= render "layouts/navbar" %>
<div id="triangle-topleft" > <a href="#"><img src="http://dino.dk/media/23811/dinologo_blackoval_transparantbg.png" id="logo"></a></div>
</div>

<div class="jumbotron" >
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>