<%= render "layouts/navbar" %>
<span class="margin-container">
</span>

<span class="background-container">
  <h1 id ="land1" >Líderes en soluciones integrales de altura.</h1>
</span>

<div class="bandana">
        <span class="box3" style="margin-left:.16%;">
          
          <img src="https://ci6.googleusercontent.com/proxy/fyiNd9lwRuB8P7R9y2wPGgbbo049G0S7AA9kv1XLDUn9jgo7z9z-HgrZxzH_ffI_4OcrT95-1B--z1iKIrJ3ByZqtllBJVnyU3w8W9q1KeiX6wrN2kvembxATL-y76AR52lF09hkHV8syId3xw=s0-d-e1-ft#http://rb-ingenieros.com/wp-content/uploads/Trabajos-verticales-sin-andamios-madrid.jpg" class="imgshome">
          <div class="thumbholder">
            <p class="imgthumbcon">CONSTRUCCIÓN</p>
          </div>
          <div class="imgdescphome">
          <p class="imgdescp">Contamos con servicios durante y post-construcción que garantizan el perfecto estado de su edificio para evitar los desembolsos imprevistos, además de evitar el uso de grúas, balsas etc.</p>
          </div>

        </span>
        <span class="box3" style="margin-left:.33%;">
          <img src="https://ci3.googleusercontent.com/proxy/khrTByHo_i854oZbCNBbKNufdWh4HZLFkFmGtpHoQbhqB11sXzsoeSdUtKGKTKktiTszsW5Cq2uGaKse1Yrma_qtvPp-IRmAEQsXPZWiiAlgcXZXS8TRMW-pP0MGir7QTgHpZ9GznQBUyf_EKui39DlTBad3-_wBGe4=s0-d-e1-ft#http://www.coordinacion-actividades-empresariales.es/wp-content/uploads/2015/01/trabajos_altura1.jpg" class="imgshome">
          <div class="thumbholder">
            <p class="imgthumbind">INDUSTRIA</p>
          </div>
          <div class="imgdescphome">
          <p class="imgdescp">Ofrecemos una variedad de productos industriales, así como trabajos en zonas peligrosas o de difícil acceso, los sistemas empleados garantizan velocidad, eficacia y seguridad.</p>
          </div>
          
        </span>
        <span class="box3" style="margin-left:.33%; margin-right:.16%">
          <img src="https://ci5.googleusercontent.com/proxy/t2ev4ueep8oeAKiZmGc3sVE94mAc8qOuu26Zq_NKeaTnyob6VIOQqvdc7u88SuzbwmQIvU9xExZwTQA_hqeOZz473XcAHJuSW5LLhr3o2g=s0-d-e1-ft#https://baroig.com/baroig_microsite/images/AntiDrop_1.jpg" class="imgshome">
          <div class="thumbholder">
          <p class="imgthumbtel">TELECOMUNICACIONES</p>
          </div>
          <div class="imgdescphome">
          <p class="imgdescp">Proveemos soluciones de altura para distintos sectores, adaptándonos a los requerimientos del cliente, incluyendo instalación, mantenimiento etc.</p>
          </div>
          
        </span>
        <div class="glyphicon glyphicon-menu-down" aria-hidden="true" id="glyph"></div>
</div> 

<div class="medbandana">
  <h1 class="medbhead">¿Que nos diferencia? hola</h1>
  <span class="medbbod">
     <p class="medbp">Contamos con personal capacitado y certificado que opera con equipo de seguridad especializado para asegurar el bienestar de nuestros trabajadores y clientes.
     Garantizamos la satisfacción de nuestros clientes a través de proyectos especialmente diseñados para necesidades particulares, ofreciendo soluciones integrales practicas.
     Ofrecemos soluciones teniendo en cuenta al cliente, al evitar usar balsas, logramos ofrecer un trabajo más económico sin interrumpir las operaciones de nuestros clientes.</p>
  </span>
</div>

<%= render "layouts/footer" %>