// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.proret{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  width:14%;
  height: 12%;
  background-color:#c0392b;
  display:none;
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:2em;
  padding:1.1%;
  border-radius: 25px;
  margin-top:2%;
  text-align:center;
}


.serret{
  box-sizing:border-box;
  display:inline-block;
  float:right;
  width:15%;
  height: 13%;
  background-color:grey;
  display:none;
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:2em;
  padding:1.2%;
  border-radius: 25px;
  margin-top:1%;
  margin-left:1%;
  text-align:center;
}

.proret:hover,
.proret:focus{
  background-color:#a52f22;
}

.serret:hover,
.serret:focus{
  background-color:#505050;
}

.serbut:hover,
.serbut:focus{
  background-color:#505050;
}

.sph{
  margin-top:35%;
}
.serbut{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  width:45%;
  height: 70%;
  background-color:grey;
  margin-left:3.33%;
  margin-top:3.33%;
  margin-bottom:3.33%;
  text-align:center;
  color:white;
  font-size: 4em;
  font-family: 'Ruda', sans-serif;
}

.probut{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  width:45%;
  height: 70%;
  background-color:#c0392b;
  margin-left:3.33%;
  margin-top:3.33%;
  margin-bottom:3.33%;
  margin-right:3.33%;
  text-align:center;
  color:white;
  font-size:4em;
  font-family: 'Ruda', sans-serif;
}

.probut:hover,
.probut:focus{
  background-color:#a52f22;
}

.developer{
  margin-top:8%;
  text-align:right;
  margin-right:-8%;
}

.background-container{
 position:relative;
 box-sizing:border-box;
 width:100%;
 height:90%;
 background-image:url("ropeRED.jpg");
 background-size:cover;
 -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
 -ms-filter: "FlipH";
 display:inline;
 float:left;
 z-index:-10;
}

.lists{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-top:2%;
  color:white;
  font-size:1.5em;
  font-family: 'Ruda', sans-serif;
}


.imgser{
  float:right;
  box-sizing:border-box;
  display:inline-block;
  float:right;
  overflow:hidden;
  -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
 -ms-filter: "FlipH";
  width:40%;
  margin-right:-15%;
  margin-top:7%;
  display:none;
}

.pp{
  color: grey;
}

.pp:hover{
  color:black;
}


.imgprop2{
  box-sizing:border-box;
  width:45%;
  height:50%;
  margin-top:1%;
  display:inline;
  float:right;
  margin-left:2%;
  display:none;
}

.propo{
   color:white;
   font-size:1.5em;
   margin-top:1%;
   display:none;
}
.prop{
   color:white;
   font-size:1.5em;
   margin-top:7%;
   display:none;
}

.servh{
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:4em;
  display:inline-block;
  float:left;
  margin-right:3%;
  display:none;
}

.servh2{
  color:black;
  font-family: 'Ruda', sans-serif;
  font-size:2em;
  display:inline-block;
  float:right;
  margin-left:1%;
  margin-top:1.2%;
  margin-bottom:5%;
  display:none;
}

.lists{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-top:2%;
  color:white;
  font-size:1.5em;
  font-family: 'Ruda', sans-serif;
}

.listse{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-top:2%;
  color:white;
  font-size:1.5em;
  font-family: 'Ruda', sans-serif;
  display:none;
}

.listsse{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-top:2%;
  color:white;
  font-size:1.5em;
  font-family: 'Ruda', sans-serif;
  display:none;
}

.listss{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-top:2%;
  color:white;
  font-size:1.5em;
  font-family: 'Ruda', sans-serif;
}


.servsdn{
  box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:80%;
   background-color:grey;
   padding:2%;
   padding-right:0;
   display:none;
}

.servhn{
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:4em;
}


.servpdn{
  box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:70%;
   background-color:#c0392b;
   padding:2%;
   display:none;
}

.servhp{
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:4em;
  display:inline-block;
  float:left;
  margin-right:32%;
   display:none;
}

.servh2p{
  color:black;
  font-family: 'Ruda', sans-serif;
  font-size:2em;
  display:inline-block;
  float:right;
  margin-right:5%;
  margin-top:1.2%;
  margin-bottom:2%;
  display:none;
}

.footer{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:40%;
   background-color:white;
   overflow: hidden;
   word-wrap: break-word;
}

#land1{
 -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
 -ms-filter: "FlipH";
   font-size:5vw;
   color: black;
   width:60%;
   position: absolute;
   top: 20%;
   right: 10%;
   font-family: 'Ruda', sans-serif;
   font-weight: bold;
 }
  
.red{
  color:red;
}

 .footerpd{
  box-sizing: border-box;
  display:inline-block;
  float:left;
  width:45%;
  height:40%;
  padding:1%;
 }

 .footerp{
  font-family: 'Ruda', sans-serif;
  font-size:2em;
  font-weight: bold;
  color:black;
 }

 .footerh{
  font-family: 'Ruda', sans-serif;
  font-size:3.5em;
  margin-top:4%;
  margin-left:5%;
 }

 .box3{
  box-sizing: border-box;
  display:inline;
  float:left;
  height:100%;
  width:33%;
  position:relative;
}

.margin-container{
  height:15%;
  width:100%;
  box-sizing:border-box;
  display:inline;
  float:left;
}

.medbhead{
  box-sizing: border-box;
  margin-top:2vw;
  margin-left:2vw;
  text-align:left;
  font-size:5em;
  display:inline;
  float:left;
  color:white;
  font-family: 'Ruda', sans-serif;
  clear:right;
}

.medbbod{
     box-sizing:border-box;
     display:inline;
     width:90%;
     height:60%;
     margin-left: 3vw;
     margin-top: 3vw;
     float:left;
     clear:left;

}

.medbp{
  font-size:2.2em;
  text-align: left;
  color:white;
  font-family: 'Ruda', sans-serif;
}

.imgshome{
  box-sizing:border-box;
  display:inline-block;
  width:85%;
  height:45%;
  margin: auto;
  margin-top:10%;
}

.imgthumbind{
  font-family: 'Ruda', sans-serif;
  font-size: 4em;
  color:black;
}

.imgthumbcon{
  font-family: 'Ruda', sans-serif;
  font-size: 4em;
  color:black;
}

.imgthumbtel{
  font-family: 'Ruda', sans-serif;
  font-size: 3.6em;
  margin-top:1%;
  color:black;
}

.thumbholder{
  box-sizing:border-box;
  display:inline-block;
  width:85%;
  height:6em;
  background-color:rgba(255,153,0,0.8);
  margin:auto;
}

.imgdescphome{
  box-sizing:border-box;
  display:inline-block;
  width:85%;
  height:20%;
  margin:auto;
  padding:1%;
}

.hidden {
        display: none;
      }

.maps{
  border:0; 
  width:100%;
}

.redbone{
  color:red;
  font-weight:bold;
}

.whypd{
  background-color:white;
  width:60%;
  position:relative;
  box-sizing:border-box;
  display:inline-block;
  float:left;
  height:100%;
  padding:1.5%;
  overflow:auto;
}

#whypc{
  display:none;
}

#whype{
  display:none;
}

.whyp{
  text-align:left;
  font-family: 'Ruda', sans-serif;
  font-size: 2em;
  color:black; 
}


.whyimg{
  width:40%;
  height:100%;
  position:relative;
  box-sizing:border-box;
  display:inline-block;
  float:left;
}

.whybtton{
  width:15%;
  height:14%;
  background-color:white;
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-right:5%;
  margin-top:-3%;
  margin-bottom:2%;
  padding:.5%;
  text-align:left;
  font-family: 'Ruda', sans-serif;
  font-weight:bold;
  font-size: 2em;
  color:grey;
}


.whybandana{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:70%;
   text-align:center;
   background-color:grey;
   padding-top:8%;
   padding-left:8%;
   padding-right:8%;
   padding-bottom:6%;
 }

.whycontainer{
  box-sizing:border-box;
  position:relative;
  width:100%;
  height:100%;
  margin:auto;
  display:inline-block;
}

.imgdescp{
  text-align:left;
  font-family: 'Ruda', sans-serif;
  font-size: 1.5em;
  color:black;
  margin-top:5%;
}

.bandana{
   box-sizing: border-box;
   float:left;
   display:inline;
   width:100%;
   height:50em;
   color:white;
   text-align:center;
 }

 .uswbandana{
   box-sizing: border-box;
   float:left;
   display:inline;
   width:100%;
   height:45%;
   color:white;
   text-align:left;
   padding:2%;
 }

 .usgbandana{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:40%;
   text-align:left;
   background-color:grey;
   padding:2%;
 }

.ush{
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:4em;
}

.usp{
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:2em;
}

.ush2{
  color:black;
  font-family: 'Ruda', sans-serif;
  font-size:4em;
}

.usp2{
  color:black;
  font-family: 'Ruda', sans-serif;
  font-size:2em;
}

.usimgd{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:100%;
   height:50%;
   margin-bottom:0;
   margin-top:1%;
}

.usimg{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:11%;
   height:100%;
   margin-bottom:0;
   margin-left:1%;
}
.usimgo{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:17%;
   height:100%;
   margin-bottom:0;
   margin-left:.5%;
}

.usimgm1{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:11%;
   height:100%;
   margin-bottom:0;
   margin-left:.5%;
}

.usimgm2{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:11%;
   height:100%;
   margin-bottom:0;
   margin-left:.5%; 
}

.usimgm3{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:11%;
   height:100%;
   margin-bottom:0;
   margin-left:.5%;
}

.usimgm4{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:11%;
   height:100%;
   margin-bottom:0;
   margin-left:.5%;
}


 .medbandana{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:50%;
   text-align:center;
   background-color:grey;
 }

 .medbandanawhite{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:30%;
   background-color:white;
   padding-left:5%;
   padding-top:2%;
 }

 .contacth{
  text-align:left;
  font-family: 'Ruda', sans-serif;
  color:black;
  font-size:2em;
 }

 .contactp{
  font-family: 'Playfair Display', serif;
  text-align:left;
  color:black;
  font-size:3em;
  margin-top:2%;
  width:80%;
 }

 .form{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:50%;
   background-color:#212121;
   padding: 20px;
   padding-top:4%;
 }

 .textarea{
 width:50%; 
 height:13.2vh;
 }

 .italic{
 font-style:italic;
 }

 #glyph{
  float:left;
  box-sizing:border-box;
  display:inline;
  color:red;
  width:100%;
  font-size:2vh;
  margin-top:-3%;
}

#containerfluid{
  height:100%;
}

#navx{
    margin:0;
    top:0; 
    width:100%;
    z-index:100;
    position:fixed;
}

input[type=text], select, textarea {
    width: 20%; /* Full width */
    padding: 12px; /* Some padding */ 
    display:inline-block;
    float:right; 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */ 
    margin-top:2%; /* Bottom margin */
    margin-right:2%;
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Ruda', sans-serif;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ff1f1f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:1%;
    margin-left:48%;
    width:15%;
    text-align:left;
    font-size:1.2em;
    font-family: 'Ruda', sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #bd0000;
}


.navbar-default {
  background: white;
  border: #c0392b;
  border-radius:0;
  height:15%;
  border-color:white;
  box-shadow: none;
  font-family: 'Ruda', sans-serif;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #c0392b;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  font-size: xx-large;
  margin-top:4.5vh;
  color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c0392b;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  font-size: large;
  background: white;
  box-shadow: none;
  border:white;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: black;
  border:white;
  box-shadow: none;
  }
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  border:white;
  box-shadow: none;
  color: #c0392b;
  background: white;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background: white;
  box-shadow: none;
  border:white;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: black;
  background: white;
  box-shadow: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: orange;
  background: white;
  box-shadow: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #c0392b;
  background: white;
  box-shadow: none;
}

.navbar-default .navbar-toggle {
  border: #c0392b;
  box-shadow: none;

}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #c0392b;
  box-shadow: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #ecf0f1;
  box-shadow: none;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: #ecf0f1;
  box-shadow: none;
  background:white;
 }
.navbar-default .navbar-link {
  color: #ecf0f1;
  box-shadow: none;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
  box-shadow: none;
}

@media (min-width: 767px){
  #logo{
   width:10%;
   height:80%;
   z-index:1000;
   position: absolute;
   padding:0;
  }  
}



@media (max-width: 767px){

.uswbandana{
   box-sizing: border-box;
   float:left;
   display:inline;
   width:100%;
   height:60%;
   color:white;
   text-align:left;
   padding:2%;
 }


.usgbandana{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:50%;
   text-align:left;
   background-color:grey;
   padding:2%;
 }

.medbandana{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:60%;
   text-align:center;
   background-color:grey;
 }

.footer{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:45%;
   background-color:white;
   overflow: hidden;
   word-wrap: break-word;
}

.developer{
  margin-top:0%;
  margin-left:-80%;
  text-align:left;
  font-size:.8em;
}

.proret{
  box-sizing:border-box;
  display:inline-block;
  float:right;
  width:25%;
  height: 12%;
  background-color:#c0392b;
  display:none;
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:1em;
  padding:1.1%;
  border-radius: 5px;
  margin-right:2%;
  text-align:center;
}


.serret{
  box-sizing:border-box;
  display:inline-block;
  float:right;
  width:25%;
  height: 9%;
  background-color:grey;
  display:none;
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:1em;
  padding:1.2%;
  border-radius: 5px;
  margin-top:1%;
  margin-left:1%;
  text-align:center;
}

.sph{
  margin-top:50%;
}
.serbut{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  width:45%;
  height: 40%;
  background-color:grey;
  margin-left:3.33%;
  margin-top:3.33%;
  margin-bottom:3.33%;
  text-align:center;
  color:white;
  font-size: 2em;
  font-family: 'Ruda', sans-serif;
}

.probut{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  width:45%;
  height: 40%;
  background-color:#c0392b;
  margin-left:3.33%;
  margin-top:3.33%;
  margin-bottom:3.33%;
  margin-right:3.33%;
  text-align:center;
  color:white;
  font-size:2em;
  font-family: 'Ruda', sans-serif;
}


.servpdn{
  box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:110%;
   background-color:#c0392b;
   padding:2%;
   overflow:auto;
   display:none;
}

.servhp{
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:2em;
  display:inline-block;
  float:left;
  margin-right:32%;
  display:none;
}

.servh2p{
  color:black;
  font-family: 'Ruda', sans-serif;
  font-size:1em;
  display:inline-block;
  float:left;
  margin-right:5%;
  margin-top:1.2%;
  display:none;
}

.imgprop2{
  box-sizing:border-box;
  width:100%;
  height:20%;
  margin-top:1%;
  margin-bottom:2%;
  display:inline;
  float:right;
  margin-left:2%;
  display:none;
}

.propo{
   color:white;
   font-size:.8em;
   margin-top:1%;
   display:none;
}
.prop{
   color:white;
   font-size:.8em;
   margin-top:39%;
   display:none;
}

.servsdn{
  box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:80%;
   background-color:grey;
   padding:2%;
   padding-right:0;
   overflow:auto;
   display:none;
}

.imgser{
  float:right;
  box-sizing:border-box;
  display:inline-block;
  float:right;
  overflow:hidden;
  -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
 -ms-filter: "FlipH";
  width:0%;
  margin-right:-15%;
  margin-top:7%;
}

.servh{
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:2em;
  display:inline-block;
  float:left;
  margin-right:100%;
}

.servh2{
  color:black;
  font-family: 'Ruda', sans-serif;
  font-size:1em;
  display:inline-block;
  float:left;
  margin-left:2%;
  margin-bottom:5%;
  display:none;
}

.lists{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-top:0%;
  color:white;
  font-size:.8em;
  font-family: 'Ruda', sans-serif;
}

.listse{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-top:0%;
  color:white;
  font-size:.8em;
  font-family: 'Ruda', sans-serif;
  display:none;
}

.listsse{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-top:-3%;
  color:white;
  font-size:.8em;
  font-family: 'Ruda', sans-serif;
  display:none;
}

.listss{
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-top:-3%;
  color:white;
  font-size:.8em;
  font-family: 'Ruda', sans-serif;
}

 .usimg{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:20%;
   height:60%;
   margin-bottom:0;
   margin-left:1%;
}
.usimgo{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:31%;
   height:60%;
   margin-bottom:0;
   margin-left:3%;
}
.usimgm1{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:20%;
   height:60%;
   margin-bottom:0;
   margin-left:2%;
}

.usimgm2{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:20%;
   height:60%;
   margin-bottom:0;
   margin-left:1%; 
   margin-top:2%
}

.usimgm3{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:20%;
   height:60%;
   margin-bottom:0;
   margin-left:6%;
   margin-top:2%
}

.usimgm4{
  box-sizing: border-box;
  position: relative;
  float:left;
  display:inline;
   width:20%;
   height:60%;
   margin-bottom:0;
   margin-left:6%;
   margin-top:2%;
}

  .ush{
  color:white;
  font-family: 'Ruda', sans-serif;
  font-size:1.5em;
}

.usp{
  color:white;
  font-family: 'Playfair Display', serif;
  font-size:.8em;
}

.ush2{
  color:black;
  font-family: 'Ruda', sans-serif;
  font-size:1.5em;
}

.usp2{
  color:black;
  font-family: 'Playfair Display', serif;
  font-size:.8em;
}

  .whybtton{
  width:25%;
  height:26%;
  background-color:white;
  box-sizing:border-box;
  display:inline-block;
  float:left;
  margin-left:3.3%;
  margin-right:5%;
  margin-top:-3%;
  margin-bottom:5%;
  padding:.5%;
  padding-top:1.5%;
  text-align:left;
  font-family: 'Ruda', sans-serif;
  font-weight:bold;
  font-size: 1em;
  color:grey;
}

  .whycontainer{
  box-sizing:border-box;
  position:relative;
  width:100%;
  height:100%;
  margin:auto;
  display:inline-block;
}

.whybandana{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:50%;
   text-align:center;
   background-color:grey;
   padding-top:8%;
   padding-left:0;
   padding-right:0;
   padding-bottom:26%;
 }

  .whyp{
  text-align:left;
  font-family: 'Ruda', sans-serif;
  font-size: .8em;
  color:black; 
}

  input[type=text], select, textarea {
    width: 25%; /* Full width */
    padding: 12px; /* Some padding */ 
    display:inline-block;
    float:right; 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */ 
    margin-top:2%; /* Bottom margin */
    margin-right:2%;
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Ruda', sans-serif;
}

.form{
   box-sizing: border-box;
   position: relative;
   float:left;
   display:inline;
   width:100%;
   height:50%;
   background-color:#212121;
   padding: 5px;
   padding-top:4%;
 }

.textarea{
 width:40%; 
 height:21vh;
 }

input[type=submit] {
    background-color: #ff1f1f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:5%;
    margin-left:48%;
    width:40%;
    text-align:left;
    font-size:1.2em;
    font-family: 'Ruda', sans-serif;
}

  .maps{
  border:0; 
  width:100%;
  height:50%;
  }


  .contacth{
  text-align:left;
  font-family: 'Ruda', sans-serif;
  color:black;
  font-size:1.5em;
 }

 .contactp{
  font-family: 'Playfair Display', serif;
  text-align:left;
  color:black;
  font-size:1em;
  margin-top:2%;
  width:80%;
 }


  .footerp{
  font-family: 'Ruda', sans-serif;
  font-size:1em;
  font-weight: bold;
  color:black;
  text-align:left;
  word-wrap: break-word;
 }

 .footerh{
  font-family: 'Ruda', sans-serif;
  font-size:1.5em;
  margin-top:4%;
  margin-left:5%;
 }

  #land1{
 -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
 -ms-filter: "FlipH";
   font-size:10vw;
   color: black;
   width:60%;
   position: absolute;
   top: 20%;
   right: 10%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;

  } 

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0392b;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
  color: #c0392b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background: #c0392b;
  }

  #logo{
   width:10%;
   height:70%;
   z-index:1000;
   position: absolute;
   padding:0;
  }  
   .medbhead{
  box-sizing: border-box;
  margin-top:2vw;
  margin-left:2vw;
  text-align:left;
  font-size:2em;
  display:inline;
  float:left;
  color:white;
  font-family: 'Ruda', sans-serif;
  clear:right;
 }
  .medbp{
  font-size:1em;
  text-align: left;
  color:white;
  font-family: 'Ruda', sans-serif;
 }

.bandana{
   box-sizing: border-box;
   float:left;
   display:inline;
   width:100%;
   height:52%;
   color:white;
   text-align:center;
 }
  .imgshome{
  box-sizing:border-box;
  display:inline-block;
  width:85%;
  height:27%;
  margin: auto;
  margin-top:10%;
 }

 .imgthumbcon{
  font-family: 'Ruda', sans-serif;
  font-size: 1em;
  color:black;
  margin-top:4%;
}

.imgthumbind{
  font-family: 'Ruda', sans-serif;
  font-size: 1.2em;
  color:black;
  margin-top:3%;
}

.imgthumbtel{
  font-family: 'Ruda', sans-serif;
  font-size: .7em;
  margin-top:6%;
  color:black;
}

.imgdescp{
  text-align:left;
  font-family: 'Ruda', sans-serif;
  font-size: .65em;
  color:black;
  margin-top:5%;
}

#glyph{
  float:left;
  box-sizing:border-box;
  display:inline;
  color:red;
  width:100%;
  font-size:2vh;
  margin-top:-5%;
}
}


@media (max-width: 1800px) and (min-width: 1700px){


.imgthumbtel{
  font-family: 'Ruda', sans-serif;
  font-size: 3.4em;
  margin-top:1%;
  color:black;
}
}

@media (max-width: 1700px) and (min-width: 1460px){


.imgthumbtel{
  font-family: 'Ruda', sans-serif;
  font-size: 3em;
  margin-top:1%;
  color:black;
}
}


@media (max-width: 1460px) and (min-width: 767px){
  .imgshome{
  box-sizing:border-box;
  display:inline-block;
  width:85%;
  height:40%;
  margin: auto;
  margin-top:10%;
 }

 .imgthumbcon{
  font-family: 'Ruda', sans-serif;
  font-size: 2em;
  color:black;
  margin-top:2%;
}

.imgthumbind{
  font-family: 'Ruda', sans-serif;
  font-size: 2em;
  color:black;
  margin-top:2%;
}

.imgthumbtel{
  font-family: 'Ruda', sans-serif;
  font-size: 1.8em;
  margin-top:3%;
  color:black;
}

.imgdescp{
  text-align:left;
  font-family: 'Ruda', sans-serif;
  font-size: 1.1em;
  color:black;
  margin-top:5%;
}

#glyph{
  float:left;
  box-sizing:border-box;
  display:inline;
  color:red;
  width:100%;
  font-size:2vh;
  margin-top:-5%;
}

}

@media (max-height: 768px){
  .navbar-default .navbar-nav > li > a {
  font-size: xx-large;
  margin-top:6vh;
  color: black;
  }

  #logo{
   width:15%;
   height:70%;
   z-index:1000;
   position: absolute;
   padding:0;
  } 
}

@media (max-height: 577px){
  .navbar-default .navbar-nav > li > a {
  font-size: xx-large;
  margin-top:2vh;
  color: black;
}
}

@media (max-width: 1250px){
.navbar-default .navbar-nav > li > a {
  font-size: x-large;
  margin-top:5vh;
  color: black;
}
}

@media (max-width: 990px){
.navbar-default .navbar-nav > li > a {
  font-size: large;
  margin-top:5vh;
  color: black;
  }
}

[class*="col-"] {float:left;}
.col-1{width:10%;}
.col-2{width:20%;}
.col-3{width:30%;}
.col-4{width:40%;}
.col-5{width:50%;}
.col-6{width:60%;}
.col-7{width:70%;}
.col-8{width:80%;}
.col-9{width:90%;}
.col-10{width:100%;}

.col-offset-1{margin-left:10%;}
.col-offset-2{margin-left:20%;}
.col-offset-3{margin-left:30%;}
.col-offset-4{margin-left:40%;}
.col-offset-5{margin-left:50%;}
.col-offset-6{margin-left:60%;}
.col-offset-7{margin-left:70%;}
.col-offset-8{margin-left:80%;}
.col-offset-9{margin-left:90%;}
.col-offset-10{margin-left:100%;}

.row:after {
 content: '.';
 visibility: hidden;
 display: block;
 height: 0;
 clear: both;
}
