<!DOCTYPE html>
<html>
  <head>
   <title>Soluciones de Altura Spider</title>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/style.css">
    <meta charset="utf-8">
    <meta name="description" content="Trabajos en altura">
    <meta name="keywords" content="Trabajos, altura, soluciones, sistemas, limpiafachadas">
    <meta name="author" content=“Alan Munoz">
    <meta property="og:title" content="Spider Solutions" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://spidersolutions.mx"/>
    <meta property="og:image" content="http://ia.media-imdb.com/
images/rock.jpg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="home">
    <%= yield %>
  </body>
</html>
