!<DOCTYPE html>
<html style="height:100%; margin:0; padding:0; border:0;">
      <head>

         <title>Soluciones de Altura Spider</title>
              <meta charset="utf-8">
              <meta name="description" content="Trabajos en altura">
              <meta name="keywords" content="Trabajos, altura, soluciones, sistemas, limpiafachadas">
              <meta name="author" content=“Alan Munoz">
              <meta property="og:title" content="Spider Solutions" />
              <meta property="og:type" content="website" />
              <meta property="og:url" content="http://spidersolutions.mx"/>
              <meta property="og:image" content="http://ia.media-imdb.com/
              images/rock.jpg" />
              <meta http-equiv="X-UA-Compatible" content="IE=edge">
              <meta name="viewport" content="width=device-width, initial-scale=1">
    
              <link href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display|Vidaloka" rel="stylesheet">
              <link href="https://fonts.googleapis.com/css?family=Ruda" rel="stylesheet">


              <%= csrf_meta_tags %>

              <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
              <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

  <body style="height:100%; margin:0; padding:0; border:0;";>
    <%= yield %>
  </body>

  <!-- jQuery -->
   <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.2.1.min.js"><\/script>')</script>
   <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- scripts concatenated and minified -->
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>
  <!-- end concatenated and minified scripts-->
  
</html>


